.red{
    background-color: red;

}
.yellow{
    background-color: yellow;
}
#increment{
    background-color: blue;
    color: red;
}
#decrement{
    background-color: blueviolet;
    color: brown;
}